/* Dipesh kabariya
(991550231*/
	
	body{
		background-image:url("../image/background.jpg")
	}
	
	header{
		background:rgba(245,0,0,0.5);
		Font-size:3em;
		color:yellow;
	}
	
	.wrapper{
      display:grid;
      grid-template-columns:50% 50%;
	  color:white;
	  font-size:1.5em;
     
      grid-gap:1em;
    }

    .wrapper > div{
      background:rgba(59,150,0,0.3);
      padding:1em;
    }
    .wrapper > div:nth-child(odd){
      background:rgba(255,70,0,0.3);
    }
	.image{
		box-shadow:5px 5px green;
	}
	
	.image1{
			display:flex;
			flex-direction:row;
			position:relative;
		left:20px;

	}
	
	.image2{
		display:flex;
			flex-direction:row;
			position:relative;
			
		;
	}
	.image3{
		display:flex;
			flex-direction:row;
			position:relative;
		

	}
	.image4{
		display:flex;
			flex-direction:row;
			position:relative;
		height:400px;

	}
		
		.info > div{
			display:grid;
           grid-template-columns:33% 67%;
	  color:white;
	  font-size:1.5em;
      grid-gap:1em;
		}
	.info > div:nth-child(even){
		background:rgba(255,70,0,0.3);
	}
		

.actor{
	display:flex;
	grid-template-columns:25% 25% 25% 25%;
  grid-gap:1em;

	background:#fff;
}
footer{
	font-size:1.5em;
font-weight:italic;
}
